@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Hola bang</h2>
    <h2>hola miau</h2>
    <p> xd</p>
    <h3>Hola mundo</h3>
</div>

