@model IEnumerable<TestGitHub.Models.Producto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <head>
        <link href="../wwwroot/css/cartas.css" style="stylesheet"/>
    </head>
    <body>
            @foreach (var item in Model)
            {
            <div class="row"> 
                <div class="column">
                    <div class="card" style="width: 18rem;">
                        <img src="@item.UrlImagen" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.NombreProducto</h5>
                            <p class="card-text">@item.DescripcionProducto</p>
                            <a asp-action="ElegirCantidad" asp-route-id="@item.CodigoProducto" class="btn btn-primary row d-flex justify-content-center align-content-center">Ver detalle</a>
                        </div>
                    </div>
                </div>
            </div>
            }
    </body>
</html>
