@model IEnumerable<TestGitHub.Models.Producto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <body>
        
        <h2>
            Buscar<input type="text" class="form-control" id="myInput" placeholder="Buscar producto..." />
        </h2>
        <table class="table table-bordered">


            <tr>
                <td scope="col">ID</td>
                <td scope="col">Nombre</td>
                <td scope="col">Descripcion</td>
                <td scope="col">Precio</td>
                
            </tr>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="col">@item.CodigoProducto</td>
                        <td scope="col">@item.NombreProducto</td>
                        <td scope="col">@item.DescripcionProducto</td>
                        <td scope="col">@item.PrecioProducto</td>

                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>