@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <a class="a_back" href="javascript: history.go(-1)">
                <img class="btn_back" src="img/back.png" />
            </a>

            <img id="img_abarrotes" src="img/mascotas.PNG">
            <h1>
                Mascotas
            </h1>

            <a href="http://www.google.com" class="a_carrito">
                <img aling="left" class="btn_carrito" src="img/compras.png">
            </a>
        </header>
        <section class="categorias">
            <a href="abarrotes.html" class="btn">Abarrotes</a>
            <a href="bebidas.html" class="btn">Bebidas</a>
            <a href="medicamentos.html" class="btn">Medicamentos</a>
            <a href="higiene.html" class="btn">Higiene</a>
            <a href="" class="btn" id="btn_pagina_actual">Mascotas</a>
        </section>
        <aside class="principal">
            <table class="tabla">
                <tr class="filas">
                    <td class="descripcion">Croqueta Gran Plus 15gk - s/150.00</td>
                    <td>
                        <button class="btn_productos">-</button>
                        <input value="1" type="number">
                        <button class="btn_productos">+</button>
                    </td>
                    <td class="agregar"><button class="btn_agregar">Añadir</button></td>
                </tr>
                <tr class="filas">
                    <td class="descripcion">Cadena perro adulto und. -  s/10.50</td>
                    <td class="cantidades">
                        <button class="btn_productos">-</button>
                        <input value="1" type="number">
                        <button class="btn_productos">+</button>
                    </td>
                    <td class="agregar"><button class="btn_agregar">Añadir</button></td>
                </tr>
                <tr class="filas">
                    <td class="descripcion">Shampoo Antipulgas 100ml - s/21.00</td>
                    <td>
                        <button class="btn_productos">-</button>
                        <input value="1" type="number">
                        <button class="btn_productos">+</button>
                    </td>
                    <td class="agregar"><button class="btn_agregar">Añadir</button></td>
                </tr>
            </table>
        </aside>
    </div>

</body>
</html>