@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <a class="a_back" href="javascript: history.go(-1)">
                <img class="btn_back" src="img/back.png" />
            </a>

            <img id="img_abarrotes" src="img/medicamentos.PNG">
            <h1 class="h1_actual">
                Medicamentos
            </h1>

            <a href="http://www.google.com" class="a_carrito">
                <img class="btn_carrito" src="img/compras.png">
            </a>
        </header>
        <section class="categorias">
            <a asp-controller="Producto" asp-action="Abarrotes" class="btn">Abarrotes</a>
            <a asp-controller="Producto" asp-action="Bebidas" class="btn">Bebidas</a>
            <a asp-controller="Producto" asp-action="Medicamentos" class="btn" id="btn_pagina_actual">Medicamentos</a>
            <a asp-controller="Producto" asp-action="Higiene" class="btn">Higiene</a>
            <a asp-controller="Producto" asp-action="Mascotas" class="btn">Mascotas</a>
        </section>
        <aside class="principal">
            <table class="tabla">
                <tr class="filas">
                    <td class="descripcion">Hibuprofeno 500ml. 20tbl - s/7.50</td>
                    <td>
                        <button class="btn_productos">-</button>
                        <input value="1" type="number">
                        <button class="btn_productos">+</button>
                    </td>
                    <td class="agregar"><button class="btn_agregar">Añadir</button></td>
                </tr>
                <tr class="filas">
                    <td class="descripcion">Amoxicilina 500ml. 20tbl - s/8.50</td>
                    <td class="cantidades">
                        <button class="btn_productos">-</button>
                        <input value="1" type="number">
                        <button class="btn_productos">+</button>
                    </td>
                    <td class="agregar"><button class="btn_agregar">Añadir</button></td>
                </tr>
                <tr class="filas">
                    <td class="descripcion">Paracetamol 500ml. 20tbl - s/9.50</td>
                    <td>
                        <button class="btn_productos">-</button>
                        <input value="1" type="number">
                        <button class="btn_productos">+</button>
                    </td>
                    <td class="agregar"><button class="btn_agregar">Añadir</button></td>
                </tr>
            </table>
        </aside>
    </div>

</body>
</html>