* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(to top, #f5d298, #f4a297);
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-size: 7vh;
    position: relative;
    text-align: center;
    top: 65px;
}

#contenido_boleta {
    position: relative;
    top: 50px;
    margin: auto;
    width: 30%;
    border: 5px solid aliceblue;
    border-radius: 20%;
}

#img_retroceder {
    position: relative;
    left: 1300px;
}

#btn_retroceder {
    border-radius: 50%;
    cursor: pointer;
}
