@model TestGitHub.Models.Cliente
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <link rel="stylesheet" href="../css/estilosRegistro.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100&display=swap" rel="stylesheet">

    </head>
    <body>
        <section class="form-register text-center">
            <h4 style="font-family: 'Inter Tight'; font-weight:900">Formulario Registro</h4>
                <form asp-controller="Cliente" asp-action="AddCliente" method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Nombre</label>
                        <input asp-for="NombreCliente" class="controls" id="formGroupExampleInput" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre">
                        <span asp-validation-for="NombreCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Apellidos</label>
                        <input asp-for="ApellidosCliente" class="controls" id="formGroupExampleInput2" type="text" name="apellidos" id="apellidos" placeholder="Ingrese sus apellidos">
                        <span asp-validation-for="ApellidosCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Edad</label>
                        <input asp-for="EdadCliente" class="controls" id="formGroupExampleInput2" type="text" name="edad" id="edad" placeholder="Ingrese su edad">
                        <span asp-validation-for="EdadCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Telefono</label>
                        <input asp-for="TelefonoCliente" class="controls" id="formGroupExampleInput2" type="text" name="telefono" id="telefono" placeholder="Ingrese su telefono">
                        <span asp-validation-for="TelefonoCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Direccion</label>
                        <input asp-for="DireccionCliente" class="controls" id="formGroupExampleInput2" type="text" name="direccion" id="direccion" placeholder="Ingrese su direccion">
                        <span asp-validation-for="DireccionCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Email</label>
                        <input asp-for="EmailCliente" class="controls" id="formGroupExampleInput2" type="text" name="correo" id="correo" placeholder="Ingrese su correo">
                        <span asp-validation-for="EmailCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Contraseña</label>
                        <input asp-for="ContraCliente" class="controls" id="formGroupExampleInput2" type="password" name="contra" id="correo" placeholder="Cree una contraseña">
                        <span asp-validation-for="ContraCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary" value="btn" name="grabar" data-toggle="modal" data-target="#exampleModal">Grabar</button>
                    </div>
                </form>
            <p><a href="#" class="fw-semibold fst-italic" style="color:black">¿Ya tiene una cuenta?</a></p>
        </section>
    </body>
</html>