@model TestGitHub.Models.Repartidor
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro de repatirdor</title>
        <link rel="stylesheet" href="../css/estilosRegistro.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <form asp-controller="Repartidor" asp-action="RegistrarRepartidor" method="post">
            <div class="form-group">
                <label for="formGroupExampleInput">Nombres</label>
                <input asp-for="NombreRepartidor" class="form-control" id="formGroupExampleInput" placeholder="Ingrese sus nombres">
                <span asp-validation-for="NombreRepartidor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Apellidos</label>
                <input asp-for="ApellidoRepartidor" class="form-control" id="formGroupExampleInput" placeholder="Ingrese sus apellidos">
                <span asp-validation-for="ApellidoRepartidor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" value="btn" name="grabar" data-toggle="modal" data-target="#exampleModal">Grabar</button>
            </div>

        </form>
    </body>
</html>
